{
  "wifi": {
    "ssid": "YOUR_WIFI_SSID",
    "password": "YOUR_WIFI_PASSWORD"
  },
  "automatic1111": {
    "user": "YOUR_A1111_USER",
    "password": "YOUR_A1111_PASSWORD",
    "api_key": "OPTIONAL_PASSTHROUGH_API_KEY"
  }
}
